<div class="flex mt-8 justify-center">
    <mat-card class="shadow w-4/12">
        <mat-card-content>
            <div class="p-8">
                <h2 class="text-3xl font-bold mb-4">{{ deleteTask.name }}</h2>
                <p class="text-slate-500">{{ deleteTask.description }}</p>
                <div class="mt-4">
                    <span class="font-medium italic">Project:</span>
                    <mat-chip class="ml-2">{{ deleteTask.project?.name }}</mat-chip>
                </div>
            </div>
            <div class="flex justify-around">
                <div>
                    <button mat-raised-button color="primary" (click)="onHomeButtonClick()">Go Back Home</button>
                </div>
                <div>
                    <button mat-raised-button color="warn" (click)="onDeleteButtonClick(deleteTask.id)" >Delete</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<!-- use {{ deleteTask }} for binding with the empty task object in delete.component.ts -->
<!-- handle clicks on buttons and call the functions -->