  <mat-toolbar color="primary" class="flex justify-between">
    <div>
      <button mat-icon-button class="example-icon" (click)="onHomeIconClicked()" aria-label="Menu Icon">
        <mat-icon>home</mat-icon>
      </button>
      <span>Task Tracker 13400</span>
      <span class="example-spacer"></span>
    </div>
    <div>
      <button class="ml-2" mat-flat-button (click)="CreateTaskClicked()">Create Task</button>
      <button class="ml-2" mat-flat-button (click)="ShowProjectsClicked()">Show Projects</button>
      <button class="ml-2" mat-flat-button (click)="CreateProjectClicked()">Create Project</button>
    </div>
  </mat-toolbar>
