<div class="flex mt-8 justify-center">
    <mat-card class="shadow w-6/12 py-8 px-6 rounded-2xl">
        <mat-card-content>
            <div class="pb-8">
                <h2 class="text-3xl font-bold mb-4">{{ detailsTask.name }}</h2>
                <p class="text-slate-500">{{ detailsTask.description }}</p>
                <p><span class="font-medium">Due Date: </span><span class="text-slate-500">{{ detailsTask.dueDate }}</span></p>
                <p><span class="font-medium">Contribution Comment: </span><span class="text-slate-500 italic">{{ detailsTask.contributionComment }}</span></p>
                <div class="mt-4">
                    <span class="font-medium">Projects:</span>
                    <mat-chip class="ml-2">{{ detailsTask.project?.name }}</mat-chip>
                </div>
            </div>
        </mat-card-content>
        <button class="w-full" mat-raised-button color="accent" (click)="goHome()">Go Home</button>
    </mat-card>
</div>


<!-- use {{ detailsTask }} to bind the model -->